/* Css file for merchItem and MerchList that makes the items and the 
size of the webpage responsive to size*/

.img-responsive{
    width: 100%;
    display: block;
  }
  
  .col-xs-12{
    grid-column: auto / span 12;
  }
  
  @media (width > 768px){
    .col-sm-6{
        grid-column: auto / span 6;
    }
  }
  
  @media (width > 992px){
    .col-md-4{
        grid-column: auto / span 4;
    }
  }

  .grid-12-column{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
}

button{
  background-color: cornflowerblue;
}